

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .email-sender {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0px;
  }
  
  .form-group {
    margin: 25px;
  }

  label {
    font-weight: 600;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004c9b;
  }
  